
@{
    ViewBag.Title = "ResetPasswordReport";
    Layout = "~/Views/Shared/_LayoutLite.cshtml";
}

<h2>@ViewBag.MessageText</h2>
@Html.ActionLink("返回首頁", "Index", "Home", null, new { @class = "btn btn-primary" })